<footer>
  <div class="wrapper">
    <ul>
      <li class="linkedin"><a href="//www.linkedin.com/company/dara-legal">LinkedIn</a></li>
      <li class="facebook"><a href="//www.facebook.com/daralegaltoronto/">Facebook</a></li>
    </ul>
  </div>
  <script>
    (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
      t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
    })(window, document, '_gscq','script','//widgets.getsitecontrol.com/40590/script.js');
  </script>
</footer>
